<!--
  Exercice 2 :
  Ecouter la saisi du champs todo-input (comme dans Helloworld)
  Ecouter le submit du formulaire et ajouter au tableau un élement
  {
    id: Math.random(),
    title: 'La valeur saisie dans le champ',
    completed: false,
  }
  (le composant se raffraichit tout seul)
-->
<form class="todo-form" (submit)="addTodo($event)">
  <input type="checkbox" class="todo-toggle-all" />
  <input class="todo-input" [value]="value" (input)="value = $any($event.target).value"  />
  <button>+</button>
</form>
<div class="todo-container">
  <!--
    Exercice 1 :
    avec *ngFor boucler sur le tableaux todos
    et afficher les todos comme ci-dessous
    - la checkbox doit être coché en fonction de la clé completed
    - la balise span doit afficher la valeur de la clé title
  -->
  <div class="todo-row" *ngFor="let todo of todos">
    <input type="checkbox" [checked]="todo.completed" />
    <span (dblclick)="idTodoEdition = todo.id" *ngIf="idTodoEdition !== todo.id">{{ todo.title }}</span>
    <input class="todo-edit" [value]="todo.title" (input)="todo.title = $any($event.target).value" *ngIf="idTodoEdition === todo.id" />
    <button (click)="deleteTodo(todo)">-</button>
  </div>
</div>

<!--
  Exercice Optionnel :
  Comme dans le projet précédent
  - Supprimer les todos au clic du bouton moins
  - Tout cocher / tout décocher
  - Pouvoir éditer au double-click
  - Le footer comme sur todomvc.com
-->

