<h2>hello</h2>
<app-hello [name]="'Bob'"></app-hello>
<app-hello name="Bob"></app-hello>

<h2>user-form</h2>
<app-user-form></app-user-form>

<h2>counter</h2>
<app-counter></app-counter>

<h2>exercice 1</h2>
<app-helloworld></app-helloworld>

<!--
Exercice 1
Dans le composant hello-world :
- créer une propriété name avec en valeur 'Toto'
- afficher ce nom dans paragraphe à la place de AFFICHER_LE_NOM_ICI
- afficher ce nom dans le champs <input />
- écouter l'événement input comme dans user-form et mettre à jour le name
en temps réel (le composant se rafraichira tout seul)
-->

<h2>exercice 2</h2>
<app-multi-state-button></app-multi-state-button>

<!--
Exercice 2
Dans le composant multi-state-button :
- créer une propriété index avec comme valeur initiale 0 dans multi-state-button
- dans le template remplacer AFFICHER_L_ELEMENT_ACTIF par l'élément du tableau dont l'indice se trouve dans index
- au click du bouton incrementer index de 1
- s'il n'y a plus d'élément à cette indice, revenir à 0
(le composant se rafraichira tout seul)
-->


<h2>select</h2>
<app-select></app-select>


<h2>todos</h2>
<app-todos></app-todos>
